@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(89.96deg, #6F0096 34.5%, #790092 40.59%, #D60067 99.96%);
  font-family: 'Karla', sans-serif;
  color: #fff;
  
}
/* Scrollbar styles */
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
  background: #ffffff1a;
  border-radius: 15px;
  }
  
  ::-webkit-scrollbar-track {
  border-radius: 15px;
  }
  
  ::-webkit-scrollbar-thumb {
  background: #E91E63;  
  border-radius: 15px;
  }
  

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
